In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import html5lib
from selenium import webdriver
from functions import *

In [2]:
driver = webdriver.Chrome()
driver.get("https://understat.com/league/EPL")
html = driver.page_source

In [4]:
data = pd.read_html(html)
df = pd.DataFrame(data[0])
df.drop(columns="№",inplace=True)

df.xG = df.xG.apply(lambda xG: correctValue(xG))
df.xGA = df.xGA.apply(lambda xGA: correctValue(xGA))
df.xPTS = df.xPTS.apply(lambda xPTS: correctValue(xPTS))
df

                       Team   M   W   D   L   G  GA  PTS     xG    xGA   xPTS
0           Manchester City  23  16   3   4  59  23   51  51.79  21.35  49.95
1                   Arsenal  22  16   3   3  47  21   51  44.33  23.21  43.81
2         Manchester United  23  14   4   5  38  28   46  38.43  26.97  40.30
3          Newcastle United  22  10  11   1  35  13   41  40.12  23.40  40.07
4                 Tottenham  23  12   3   8  42  35   39  35.61  29.99  35.09
5                  Brighton  21  10   5   6  39  28   35  39.12  26.65  37.86
6                    Fulham  23  10   5   8  34  30   35  32.02  42.64  26.64
7                 Brentford  22   8  10   4  36  29   34  35.33  29.42  35.64
8                 Liverpool  21   9   5   7  36  28   32  43.34  35.03  33.21
9                   Chelsea  22   8   7   7  23  22   31  29.28  29.43  30.31
10              Aston Villa  22   8   4  10  26  34   28  25.88  35.49  27.41
11           Crystal Palace  22   6   7   9  20  30   25  22.15  35.21  21.39
12                Leicester  22   7   3  12  36  38   24  24.94  32.51  24.70
13        Nottingham Forest  22   6   6  10  17  37   24  22.56  36.29  21.82
14  Wolverhampton Wanderers  22   6   5  11  17  31   23  21.39  32.15  22.76
15                 West Ham  22   5   5  12  19  27   20  28.61  25.41  31.86
16                    Leeds  22   4   7  11  28  38   19  29.97  35.98  28.08
17                  Everton  22   4   6  12  16  30   18  22.66  37.95  20.37
18              Bournemouth  22   4   6  12  20  44   18  19.87  39.03  17.80
19              Southampton  22   4   3  15  18  40   15  22.89  32.20  23.77

In [6]:
df["xG"] = df["xG"].astype(float)
df["xGA"] = df["xGA"].astype(float)
df["xPTS"] = df["xPTS"].astype(float)
df.to_excel("epl-teams.xlsx")